/* Image Styling */
.image img {
  width: 1264px;
  height: 500px;
  object-fit: cover;
}


@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.Name {
  position: absolute;
  top: 30%;
  margin-left: 640px;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  z-index: 10;
   opacity: 0;
  animation: fadeSlideUp 1.5s ease-out forwards;
  animation-delay: 0.3s;
}

.sentence {
  position: absolute;
  
  top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 680px;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  z-index: 10;
    opacity: 0;
  animation: fadeSlideUp 1.5s ease-out forwards;
  animation-delay: 0.6s;
}

/* Line Styling */
.Line {
  position: absolute;
  margin-top: -20px;
  top: 50%;
  margin-left: 650px;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 10;
}

/* Mobile Responsive Styling */
@media (max-width: 768px) {
  .image img {
    width: 110%; /* Make image responsive */
    height: auto; /* Adjust image height proportionally */
  }

  
  .Name {
    top: 18%;
    margin-left: 50%;
    font-size: 28px; /* Reduce font size for mobile */
    text-align: center;
    margin-top: -35px; /* Adjust position */
  }

  
  /* .sentence {
    top: -10%;
    margin-left: 10%;
    font-size: 28px; 
    text-align: center;
  } */


  .Line {
    top: 22%;
    margin-left: 50%;
    font-size: 12px; /* Reduce font size for mobile */
    text-align: center;
  }
}

