body{
    background-color: whitesmoke;
}
/* 
.Hero{
    margin-top: -40px;
    background-color: whitesmoke;
    height: 120%;
} */

.image img{
    position: relative; 
    margin-top: 90px;
    margin: 20px 0;
    height: 500px;; 
    width: 1263px;
}
.box{
    float: right;
}
.line{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 25%;          
    left: 80%;          
    transform: translateX(-50%); 
    color: white;      
}

.sent{
    position: absolute; /* Position this element relative to the .image container */
    top: 60%;           /* Adjust the vertical positioning */
    left:78%;          /* Align the text in the center horizontally */
    transform: translateX(-50%); /* Center it horizontally */
    font-size: 20px;
    color: white;       /* Adjust color to be more visible on image */
}


