.Hero {
    position: relative; 
    width: 100%;        
  }
  
  .image img {
    margin-top: 30px;
    height: 500px;
    width: 1262px;
    /* object-fit: cover;    */
  }

  .Name{
    font-weight: bold;
    font-size: 35px;        
    margin-top: -400px;
    color: white;
    margin-left: 35px;
}
@media (max-width: 768px) {
  .image img {
      width: 100%; /* Ensure image takes full width */
      height: auto; /* Maintain aspect ratio */
      max-height: 250px; /* Limit image height */
  }

  .Name {
      font-size: 24px; /* Smaller font size for mobile */
      margin-top: -150px; /* Adjust position */
      margin-left: 50px; /* Adjust margin */
  }
}