.Card{
    display: flex;
    margin-top: 150px;
    padding: 20px;
    width: 100%;  /* Ensure the section spans the full width */
    justify-content: flex-start; /* Align children horizontally */
}


.Box1 {
    background-color: rgba(245, 245, 180, 0.9);
    height: 250px;
    width: 100%; 
    border-radius: 2rem;
    margin-top: -165px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: 0.3s ease-in-out;
}
.Box1:hover {
  background-color: rgb(239, 194, 127); /* Changes to a darker shade */
  transition: 0.3s ease-in-out;
}



.Line{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 25px;
    font-size: 25px;
}
.sent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

@media (max-width: 480px) {
  .Box1 {
      height: auto; /* Adjust height for small screens */
      padding: 15px;
  }

  .Line {
      font-size: 1.1rem;
  }

  .sent {
      font-size: 0.9rem;
  }
}

