.Section {
    display: flex;
    margin-top: 150px;
    width: 100%;  /* Ensure the section spans the full width */
    justify-content: flex-start; /* Align children horizontally */
}

.Box {
    background-color: gainsboro;
    height: 250px;
    width:340px;
   
}

.Box1 {
    background-color: rgb(170, 170, 170);
    height: 250px;
    width: 100%;
    
   
}

.Line{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-top: 25px;
    font-size: 25px;
}
.sent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}